---
import { Icon } from 'astro-icon/components'

interface Props {
  baseId: string
}

const { baseId } = Astro.props
const sectionId = `${baseId}__section`
const buttonId = `${baseId}__btn`
---

<div>
  <h2>
    <button
      aria-controls={sectionId}
      aria-expanded="true"
      class="accordion"
      id={buttonId}
      type="button"
      data-accordion-toggle
    >
      <slot name="title" />
      <Icon class="chevron" name="chevron-down" />
    </button>
  </h2>
  <div aria-labelledby={buttonId} id={sectionId} role="region">
    <slot />
  </div>
</div>

<style>
  .accordion {
    color: var(--color-text);
    appearance: none;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
  }

  .accordion[aria-expanded='false'] .chevron {
    transform: rotate(180deg);
  }

  .chevron {
    width: 32px;
    height: 32px;
  }
</style>

<script>
  const buttons = document.querySelectorAll('button[data-accordion-toggle]')
  buttons.forEach(button => {
    button.addEventListener('click', () => {
      const el = document.querySelector(`#${button.getAttribute('aria-controls')}`)
      if (!el) return
      const isOpen = button.getAttribute('aria-expanded') === 'true'
      button.setAttribute('aria-expanded', isOpen ? 'false' : 'true')
      if (isOpen) {
        el.setAttribute('hidden', '')
      } else {
        el.removeAttribute('hidden')
      }
    })
  })
</script>
