---
import {getCollection} from "astro:content";
import Layout from '../../layouts/Layout.astro';
import Section from "../../components/Section.astro";
import RecipeCard from "../../components/RecipeCard.astro";

const title = "Try brew"

const recipes = await getCollection('recipes');
const byMethod = new Map()
recipes.forEach(recipe => {
	// Folders inside recipes mean method
	const method = recipe.slug.split('/')[0];
	if (!method) {
		return
	}
	const collection = byMethod.get(method) ?? [];
	collection.push(recipe);
	byMethod.set(method, collection)
})
---

<Layout title={title}>
	{Array.from(byMethod.entries()).map(([method, recipes]) => {
		return <Section baseId={`${method}-section`}>
			<div class="title" slot="title">{method}</div>
			<div class="section">
				{recipes.map(p => (
					<RecipeCard recipe={p} link={`recipes/${p.slug}`} />
				))}
			</div>
		</Section>
	})}
</Layout>

<style>
	.title {
		font-size: 32px;
	}

	.section {
		display: grid;
		grid-template-columns: repeat(auto-fill, 400px);
		gap: 32px;
	}
</style>
