---
import type { CollectionEntry } from 'astro:content'

import { getRelativeLocaleUrl } from 'astro:i18n'

import { commonMessages } from '@/i18n/locales/common/en'
import { createPropertyFormatters } from '@/i18n/utils'
import { humanTimeToSeconds, secondsTimeToHuman } from '../utils'
import Author from './Author.astro'
import RecipeProperties from './RecipeProperties.astro'

type Entry = CollectionEntry<'recipes'>
type Props = { recipe: Entry['data'] }

const { recipe } = Astro.props

const locale = Astro.currentLocale || 'en'
const messages = commonMessages(locale)
const { time, weight } = createPropertyFormatters(Astro.currentLocale)

const href = getRelativeLocaleUrl(locale, `/recipes/${recipe.method}`)

const formattedSteps = recipe.steps
  ?.reduce<{ description?: string; time: string; totalTime: number; water: number }[]>((acc, step, index) => {
    acc.push({ ...step, totalTime: humanTimeToSeconds(step.time) + (index > 0 ? acc[index - 1].totalTime : 0) })
    return acc
  }, [])
  .map(step => ({
    ...step,
    time: time(step.time),
    totalTime: time(secondsTimeToHuman(step.totalTime)),
    water: weight(step.water)
  }))
---

<div class="root">
  <h1 class="title">
    <a class="method-link" {href}>{messages[recipe.method as keyof typeof messages]}</a> / {recipe.name}
  </h1>
  <RecipeProperties properties={recipe.properties} />
  <div>
    {
      formattedSteps
        ? (
        <>
          <h2>Recipe</h2>
          <table>
            <thead>
              <tr>
                <th>Total time</th>
                <th>Time</th>
                <th>Weight</th>
                <th>Notes</th>
              </tr>
            </thead>
            <tbody>
              {formattedSteps.map(it => {
                return (
                  <tr>
                    <td>{it.totalTime}</td>
                    <td>{it.time}</td>
                    <td>{it.water}</td>
                    <td>{it.description}</td>
                  </tr>
                )
              })}
            </tbody>
          </table>
        </>
          )
        : null
    }
    <slot />
  </div>
  <div class="source">
    <span>{messages.source}:</span>
    <Author image={recipe.authorImg} link={recipe.link} name={recipe.author} />
  </div>
</div>

<style>
  .root {
    padding-block-end: 24px;
  }

  .title {
    margin-block: 0 28px;
    font-size: 24px;
    text-transform: capitalize;
  }

  .method-link {
    display: inline-block;
    color: inherit;
  }

  .method-link:visited {
    color: inherit;
  }

  .link {
    color: inherit;
  }

  .link:visited {
    color: inherit;
  }

  table {
    margin-block-end: 24px;
  }

  th,
  td {
    padding: 6px 12px;
  }

  th:first-child,
  td:first-child {
    padding-inline-start: 0;
  }

  th:last-child,
  td:last-child {
    padding-inline-end: 0;
  }

  .source {
    display: flex;
    align-items: center;
    gap: 12px;
  }
</style>

<!-- TODO: Drop these styles, when we migrate new recipes to MDX or frontmatter -->
<style is:global>
  .time-line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    font-size: 18px;
    margin-bottom: 1em;
    max-width: 550px;
  }

  .time-line > * {
    margin: 0;
  }

  .time-note {
    margin-left: 8px;
    opacity: 0.75;
    margin-top: -5px;
    font-size: 0.95em;
  }

  .info-warm {
    background: var(--color-more-info);
    padding: 1em;
    margin-bottom: 1.5em;
    line-height: 1.4;
  }

  .info-warm h2 {
    margin: 0 0 0.5em;
  }
</style>
