---
import { params } from '@nanostores/i18n'

import Contributors from '../components/Contributors.astro'
import { t } from '../i18n/utils'
import Layout from './Layout.astro'

const messages = t(Astro.currentLocale, 'about', {
  about: params(
    `Try brew - open source project created by coffee lovers to get new taste emotions. Works on {platform}.
    <br/><br/> Source code is on {source}.
    <br/><br/> Wishes and suggestions can be sent to: {suggestions}`
  ),
  contributors: 'Contributors',
  description: 'Information about the Try Brew project',
  header: 'About',
  support: 'Support'
})
---

<Layout description={messages.description} title={messages.header}>
  <h1>{messages.header}</h1>
  <p
    set:html={messages.about({
      platform: '<a href="https://astro.build" target="_blank">astro</a>',
      source: '<a href="https://github.com/OdinVerst/trybrew" target="_blank">GitHub</a>',
      suggestions: '<a href="mailto:trycoffee.app@gmail.com">trycoffee.app@gmail.com</a>'
    })}
  />
  <h2>{messages.contributors}</h2>
  <Contributors />
  <h2>{messages.support}</h2>
  <script
    data-coffee-color="#ffffff"
    data-color="#FFDD00"
    data-emoji=""
    data-font="Cookie"
    data-font-color="#000000"
    data-name="bmc-button"
    data-outline-color="#000000"
    data-slug="trybrew"
    data-text="Buy me a coffee"
    is:inline
    src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"></script>
</Layout>
