---
import "../styles/main.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
	title: string;
}

const {title, description} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="description" content={description ?? 'Try brew'}>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<meta name="generator" content={Astro.generator}/>
	<title>{title}</title>
	<meta charset="utf-8">

	<!-- {% if page.url | locale_links %}
	// {% for link in page.url | locale_links %}
	//
	<link rel="alternate" hreflang="{{link.lang}}" href="{{site.url}}{{link.url}}">
	// {% endfor %}
	// {% endif %}
	-->
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{site.name_site}}">
	<meta property="og:site_name" content="{{languages[page.lang].description}}">
	<meta property="og:url" content="{{site.url}}">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{site.name_site}}">
	<meta name="twitter:description" content="{{languages[page.lang].description}}">
	<meta name="twitter:site" content="{{site.url}}">
</head>
<body>
<Header/>
<main>
	<slot/>
</main>
<Footer/>
</body>
</html>

<style>
	body {
		display: flex;
		flex-flow: column;
		align-items: stretch;
	}

	main {
		flex-grow: 1;
		padding: 0 16px;
		max-width: 1300px;
		margin: 0 auto;
		width: 100%;
	}
</style>
